@use '../color';

.default {
    display: flex;
    flex-direction: row;
    background-color: #333;
    flex: 1;
}

.variables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    max-width: max-content;
    padding: 2em;

    background-color: rgba(0,0,0,.3);
    color: #{color.$dark};
}

.result {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .column {
        display: flex;
        align-items: center;
        justify-content: stretch;
        max-width: 300px;
        width: 100%;
    }
}