@use '../color';

.default {
    background-color: color.$light;
    color: color.$dark;
    border: none;
    padding: 12px 22px;
    font-size: 1.2rem;
    border: 3px solid color.$light;

    &:hover:not(:disabled) {
        background-color: transparent;
        color: color.$light;
        cursor: pointer;
    }

    &:disabled {
        background-color: color.$darker;
        border: 3px solid color.$darker;
        color: color.$light;
        cursor: not-allowed;
    }
}