@use './color';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,900;1,400;1,600;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    height: 100vh;
    background:
        url(/noise.png),
        radial-gradient(80% 150% at 0% 0%, #222222 0%, #111111 100%);
    
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100vh;
}

a {
    color: color.$tint;
}

.app-container {
    min-height: calc(100vh - 150px);
}